@{
    ViewData["Title"] = "ĐĂNG KÝ TÀI KHOÁN";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="boxlogin">
    <form id="account" method="post">
        <div class="row px-3 mb-4">
            <div class="line"></div> <small class="titleline text-center">@ViewData["Title"]</small>
            <div class="line"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row px-3">
            <label class="mb-1">
                <h6 class="mb-0 text-sm">Tài khoản</h6>
            </label>
            <input type="text" placeholder="Nhập tên tài khoản tại đây " id="UserName" class="form-control mb-4" />
        </div>
        <div class="row px-3">
            <label class="mb-1">
                <h6 class="mb-0 text-sm">Mật khẩu</h6>
            </label>
            <input type="password" placeholder="Nhập mật khẩu tại đây" id="Password" class="form-control mb-4" />
            <div>
                * Mật khẩu gồm ít nhất 8 ký tự
            </div>
            <div>
                * Mật khẩu gồm ít nhất 1 Chữ hoa (A-Z)
            </div>
            <div>
                * Mật khẩu gồm ít nhất 1 Chữ thường (a-z)
            </div>
            <div>
                * Mật khẩu gồm ít nhất 1 chữ số (0-9)
            </div>
            <div>
                * Mật khẩu gồm ít nhất 1 Ký tự đặc biệt (!,$,#,....)
            </div>
        </div>
        <div class="row px-3">
            <label class="mb-1">
                <h6 class="mb-0 text-sm">Mật khẩu</h6>
            </label>
            <input type="password" placeholder="Xác nhận mật khẩu tại đây" id="ConfirmPassword" class="form-control mb-4" />
        </div>
        <div class="row px-3">
            <label class="mb-1">
                <h6 class="mb-0 text-sm">Điện thoại</h6>
            </label>
            <input type="text" placeholder="Nhập số điện thoại tại đây" id="PhoneNumber" class="form-control mb-4" />
        </div>
        <div class="row px-3">
            <label class="mb-1">
                <h6 class="mb-0 text-sm">Email</h6>
            </label>
            <input type="text" placeholder="Nhập Email tại đây" id="Email" class="form-control mb-4" />
        </div>
        <div class="row px-3">
            <label class="mb-1">
                <h6 class="mb-0 text-sm">Địa chỉ</h6>
            </label>
            <input type="text" placeholder="Nhập địa chỉ tại đây" id="Address" class="form-control mb-4" />
        </div>       
    </form>
    <div class="row mb-4 px-3">
        <small class="font-weight-bold">            
            <button class="agree-btn register-btn" id="register-btn" onclick="Register()">
                Tôi đồng ý, tạo tài khoản của tôi
            </button>
        </small>
    </div>
    <div class="row mb-4 px-3">
        <small class="font-weight-bold">
            Tôi đã có tài khoản?
            <a href="/Identity/Account/Login" class="text-danger ">Đăng nhập với tài khoản</a>
        </small>
    </div>
</div>
<!-- end main -->
@section Scripts{
    <script>
                loadScript('MledIdentity/lib/js/page/create.control.select.js', function () {
                    loadScript('MledIdentity/lib/js/page/register.content.js', function () {
                        $(document).ready(async function () {
                            await InnitPage(0);
                        });                   
            });
        });
    </script>
}
