<div class="row" style="display:block" id="div-contnet-01">
    <div class="col-12">
        <div class="form-group">
            <label for="UpdateContent01" id="labelfofUpdateContent01">Mã số kế hoạch</label>
            <input type="text" id="UpdateContent01" class="form-control" name="UpdateContent01" autofocus>
        </div>
    </div>
</div>
<div class="row" style="display:block" id="div-contnet-02">
    <div class="col-12">
        <div class="form-group">
            <label for="UpdateContent02" id="labelfofUpdateContent02">Ngày ký duyệt</label>
            <div class="input-group date" id="pickerUpdateContent02" data-target-input="nearest">
                <input id="UpdateContent02" type="text" class="form-control datetimepicker-input" data-target="#pickerUpdateContent02" />
                <div class="input-group-append" data-target="#pickerUpdateContent02" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="display:block" id="div-contnet-03">
    <div class="col-12">
        <div class="form-group">
            <label for="UpdateContent03" id="labelfofUpdateContent03">Lần tái bản (ban hành)</label>
            <input type="number" id="UpdateContent03" class="form-control" name="UpdateContent03" autofocus>
        </div>
    </div>
</div>