
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@section Css{
}

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using MledNew2023.MVC.Constants

<div class="container-fluid">
    @*box-thống kê*@
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3" id="divBox1">
            <div class="info-box">
                <span class="info-box-icon bg-success elevation-1" id="icon-box1"><i class="fa-solid fa-signal"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text" id="labelNumber1">CPU Traffic</span>
                    <span class="info-box-number" id="h3Number1">
                    </span>
                    <a onclick="ShowModalInfo(1)" class="small-box-footer"><span id="spanNumber1"></span> <i class="fas fa-arrow-circle-right float-md-right"></i></a>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3" id="divBox2">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1" id="icon-box2"><i class="fa-solid fa-signal"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text" id="labelNumber2">Likes</span>
                    <span class="info-box-number" id="h3Number2">41,410</span>
                    <a onclick="ShowModalInfo(2)" class="small-box-footer float-md-right"><span id="spanNumber2"> </span> <i class="fas fa-arrow-circle-right float-md-right"></i></a>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3" id="divBox3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-danger elevation-1" id="icon-box3"><i class="fa-solid fa-signal"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text" id="labelNumber3">Sales</span>
                    <span class="info-box-number" id="h3Number3">760</span>
                    <a onclick="ShowModalInfo(3)" class="small-box-footer float-md-right"><span id="spanNumber3"> </span> <i class="fas fa-arrow-circle-right float-md-right"></i></a>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3" id="divBox4">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1" id="icon-box4"><i class="fa-solid fa-signal"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text" id="labelNumber4">New Members</span>
                    <span class="info-box-number" id="h3Number4">2,000</span>
                    <a onclick="ShowModalInfo(4)" class="small-box-footer"><span id="spanNumber4"> </span> <i class="fas fa-arrow-circle-right float-md-right"></i></a>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
    @*box-thống kê*@

    <div class="row">
        <div class="col-12 col-sm-6 col-md-2">
            <div class="form-group">
                <select placeholder="Chọn xưởng" id="selectFactory" name="selectFactory"
                        class="form-control-sm select2 select2-info"
                        data-dropdown-css-class="select2-info" style="width: 90%;">
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
            <div class="form-group">
                <select placeholder="Chọn ngành" id="selectBranch" name="selectBranch"
                        class="form-control-sm select2 select2-info"
                        data-dropdown-css-class="select2-info" style="width: 90%;">
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="form-group">
                <select placeholder="Chọn thiết bị" id="selectDevice" name="selectDevice"
                        class="form-control-sm select2 select2-info"
                        data-dropdown-css-class="select2-info" style="width: 90%;">
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
            <div class="form-group">
                <select placeholder="Chọn năm" id="selectYear" name="selectYear" class="form-control-sm select2 select2-info"
                        data-dropdown-css-class="select2-info" style="width: 80%;">
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
            <div class="form-group">
                <select placeholder="Chọn tháng" id="selectMonth" name="selectMonth" class="form-control-sm select2 select2-info"
                        data-dropdown-css-class="select2-info" style="width: 80%;">
                </select>
            </div>
        </div>
    </div>
    <!-- /.row -->
    @*Biểu đồ*@
    <div class="card card-primary card-outline">
        <div class="card-header">
            <h3 class="card-title">
                <label>
                    <i class="far fa-chart-bar"></i>
                    <span id="spanTittle1">Biểu đồ báo cáo thống kê dự báo thời gian hoạt động thiết bị (giờ)</span>
                </label>
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <label>
                        <i class="fa-solid fa-clock-rotate-left fa-1x"></i>
                        <span id="spanTittle5_all">Tổng quát</span>
                    </label>
                    <div id="donut-chart-sum" style="height: 300px;"></div>
                </div>
                <div class="col-2">
                    <label>
                        <i class="fa-solid fa-clock-rotate-left fa-1x"></i>
                        <span id="spanTittle5_year">Trong năm 2022</span>
                    </label>
                    <div id="donut-chart-year" style="height: 300px;"></div>
                </div>
                <div class="col-2">
                    <label>
                        <i class="fa-solid fa-clock-rotate-left fa-1x"></i>
                        <span id="spanTittle5_month">Trong tháng 11/2022</span>
                    </label>
                    <div id="donut-chart-month" style="height: 300px;"></div>
                </div>
                <div class="col-6">
                    <div class="chart">
                        <canvas id="dataDisplay" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%; "></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header">
            <h3 class="card-title">
                <label>
                    <i class="far fa-chart-bar"></i>
                    <span id="spanTittle2">Số lần cảnh báo thiết bị  (lần)</span>
                </label>
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <label>
                        <i class="fa-solid fa-clock-rotate-left fa-1x"></i>
                        <span id="spanTittle5_all">Tổng quát</span>
                    </label>
                    <div id="donut-chart-sum-solan" style="height: 300px;"></div>
                </div>
                <div class="col-2">
                    <label>
                        <i class="fa-solid fa-clock-rotate-left fa-1x"></i>
                        <span id="spanTittle5_year">Trong năm 2022</span>
                    </label>
                    <div id="donut-chart-year-solan" style="height: 300px;"></div>
                </div>
                <div class="col-2">
                    <label>
                        <i class="fa-solid fa-clock-rotate-left fa-1x"></i>
                        <span id="spanTittle5_month">Trong tháng 11/2022</span>
                    </label>
                    <div id="donut-chart-month-solan" style="height: 300px;"></div>
                </div>
                <div class="col-6">
                    <div class="chart">
                        <canvas id="dataDisplay-solan" style="min-height: 350px; height: 350px; max-height: 350px; max-width: 100%; "></canvas>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="card-header">
                <h3 class="card-title">
                    <label>
                        <i class="far fa-chart-bar"></i>
                        <span id="spanTittle3">Thời gian cảnh báo thiết bị hàng tháng</span>
                    </label>
                </h3>
            </div>*@
        @*<div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <canvas id="dataDisplay-time-thang" style="height: 300px;"></canvas>
                    </div>
                    <div class="col-4">
                        <canvas id="dataDisplay-solan-thang" style="height: 300px;"></canvas>
                    </div>
                </div>
            </div>*@
        <div class="card-header">
            <h3 class="card-title">
                <label>
                    <i class="far fa-chart-bar"></i>
                    <span id="spanTittle4">Biểu đồ dự báo động cơ</span>
                </label>
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4" style="display:none">
                    <div class="card-header card-info">
                        <h3 class="card-title">
                            <label>
                                <i class="far fa-chart-bar"></i>
                                <span id="spanTittle4_1">Năm 2022</span>
                            </label>
                        </h3>
                    </div>
                    <canvas id="dataMotorDisplay-nam" style="height: 300px;"></canvas>
                </div>
                <div class="col-6">
                    <div class="card-header card-info">
                        <h3 class="card-title">
                            <label>
                                <i class="far fa-chart-bar"></i>
                                <span id="spanTittle4_2">Tháng 9/2022</span>
                            </label>
                        </h3>
                    </div>
                    <canvas id="dataMotorDisplay-thang" style="height: 300px;"></canvas>
                </div>
                <div class="col-6">
                    <div class="card-header card-info">
                        <h3 class="card-title">
                            <label>
                                <i class="far fa-chart-bar"></i>
                                <span id="spanTittle4_3">Ngày 15/09/2022</span>
                            </label>
                        </h3>
                    </div>
                    <canvas id="dataMotorDisplay-day" style="height: 300px;"></canvas>
                </div>
            </div>
        </div>
        <div class="card-header" id="divHeader4">
            <h3 class="card-title">
                <label>
                    <i class="fa-solid fa-clock-rotate-left fa-1x"></i>
                    <span id="spanTittle5">Lịch sử trạng thái hoạt động của thiết bị</span>
                </label>
            </h3>
        </div>
        <div class="card-body" id="divBody4">
            <table id="viewhome-table" class="table table-bordered table-hover">
            </table>
        </div>
        <!-- /.card-body-->
    </div>
</div>
<!-- /.container-fluid -->
<div class="modal fade" id="modal-chitiet-home" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title-chitiet-home"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_detailViewPartial" itemid="1" />
            </div>
            <div class="modal-footer justify-content-between" data-dismiss="modal" aria-label="Close">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section Scripts{
    <script language="javascript" type="text/javascript" src="~/plugins/flot/jquery.flot.js"></script>
    <script language="javascript" type="text/javascript" src="~/plugins/flot/plugins/jquery.flot.resize.js"></script>
    <script language="javascript" type="text/javascript" src="~/plugins/flot/plugins/jquery.flot.pie.js"></script>
    <script>
        loadScript('../MledIdentity/lib/js/page/site.page.js', function () {
            loadScript('../MledIdentity/lib/js/page/site.control.innit.js', function () {
                loadScript('../MledIdentity/lib/js/page/create.control.select.js', function () {
                    loadScript('../MledIdentity/lib/js/page/report.report.infor.js', function () {
                        loadScript('../MledIdentity/lib/js/page/report.report4.js', function () {
                            $(document).ready(function () {
                                InnitPage('Report1');
                            });
                        });
                    });
                });
            });
        });</script>
}


