
@{
    ViewData["Title"] = "Quản lý ban ngành -Danhsach_BanNganh";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using MledNew2023.MVC.Constants
@section Css{
    <style>
        .big-checkbox {
            width: 30px;
            height: 30px;
        }
    </style>
}

@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Lists.Create)).Result.Succeeded)
{
    <input type="hidden" id="isAdd" value="1" />
}
else
{
    <input type="hidden" id="isAdd" value="0" />
}
@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Lists.Edit)).Result.Succeeded)
{
    <input type="hidden" id="isEdit" value="1" />
}
else
{
    <input type="hidden" id="isEdit" value="0" />
}

@if ((AuthorizationService.AuthorizeAsync(User, Permissions.Lists.Delete)).Result.Succeeded)
{
    <input type="hidden" id="isDelete" value="1" />
}
else
{
    <input type="hidden" id="isDelete" value="0" />
}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body" id="divMainInformation">
                    <table id="manager_table_list" class="table table-bordered table-hover">
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->


<div class="modal fade" id="modal-nganhban" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title-nganhban"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="Clear()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="selectFactory">Chọn xưởng</label>
                            <select placeholder="Chọn xưởng" id="selectFactory" name="selectFactory" class="form-control-sm select2 select2-info"
                                    data-dropdown-css-class="select2-info" style="width: 90%;" onchange="seFactoryId = parseInt(this.value);">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="Code">Mã/Tên viết tắt</label>
                            <input type="text" id="Code" class="form-control" name="Code" autofocus>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="Name">Tên ngành/ban</label>
                            <input type="text" id="Name" class="form-control" name="Name" autofocus>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="Description">Mô tả</label>
                            <textarea class="form-control" rows="3" placeholder="Enter ..." id="Description" name="Description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="Clear()"><span aria-hidden="true">&times;</span>&nbsp;Hủy</button>
                <button type="button" class="btn btn-primary" onclick="SaveBranch()"><i class="fa-solid fa-sd-card"></i>&nbsp;Lưu</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-delete-nganhban" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title-nganhban">Xóa dữ liệu</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @*@Html.AntiForgeryToken()*@
                <p>Bạn có chắc muốn xóa dữ liệu này?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span aria-hidden="true">&times;</span>&nbsp;Hủy</button>
                <button type="button" class="btn btn-danger" onclick="DeleteBranch()"><i class="fa-solid fa-trash-can"></i>&nbsp;Xóa dữ liệu</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

@section Scripts{
    <script>
        loadScript('MledIdentity/lib/js/page/site.page.js', function () {
            loadScript('MledIdentity/lib/js/page/site.control.innit.js', function () {
                loadScript('MledIdentity/lib/js/page/create.control.select.js', function () {
                    loadScript('MledIdentity/lib/js/page/list.branch.js', function () {
                        $(document).ready(function () {
                            InnitPage('Branch');
                        });
                    });
                });
            });
        });
    </script>
}


