<div class="card card-info card-outline">
    <div class="card-header">
        <h3 class="card-title"><b><a>Chọn vật tư</a> (Chọn vật tư/phụ tùng)</b></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <p>Đơn vị:<span id="spanEditDonvi"></span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group" id="divAddThietBi" style="display:none;">
                    <label for="selectAddSupplie">Vật tư, phụ tùng</label>:
                    <select placeholder="Chọn vật tư" id="selectAddSupplie" name="selectAddSupplie"
                            class="form-control-sm select2 select2-info" data-dropdown-css-class="select2-info"
                            style="width: 90%;" onchange="seAddSupplieId = parseInt(this.value);">
                    </select>
                </div>
                <div class="form-group" id="divLableThietBi" style="display:none;">
                    <p>Vật tư, phụ tùng: <span id="spanEditThietBi"></span></p>
                    <p><span id="spanEditYear"></span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer" id="divFooterThietbi" style="display:block;">
        <a class="btn btn-primary btn-sm" onclick="SaveNewPlanDevice();">Đồng ý</a>
    </div>
</div>
<!-- /.card -->

<div class="card card-info card-outline" id="divlineContentTable" style="display:none;">
    <div class="card-header">
        <h3 class="card-title"><b><a>Nội dung chi tiết kế hoạch vật tư, phụ tùng</a></b></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="SupplieCode">Ký mã hiệu, bản vẽ</label>
                    <input type="text" id="SupplieCode" class="form-control" name="SupplieCode" autofocus>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="Manufacture">Nhà cung cấp</label>
                    <input type="text" id="Manufacture" class="form-control" name="Manufacture" autofocus>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="NumberNote">Đơn vị</label>
                    <input type="text" id="NumberNote" class="form-control" name="NumberNote" autofocus>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="Amount">Số lượng</label>
                    <input type="number" id="Amount" class="form-control" name="Amount" min="0" autofocus>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="selectBelonging">Thuộc máy/dây chuyền</label>
                    <select id="selectBelonging" class="form-control-sm select2 select2-info"
                            data-dropdown-css-class="select2-info" multiple="multiple"
                            data-placeholder="Chọn một hoặc nhiều" style="width: 100%;">
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="Duration">Thời hạn cung cấp</label>
                    <input type="text" id="Duration" class="form-control" name="Duration" autofocus>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="Requirements">Yêu cầu kỹ thuật</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..." id="Requirements"
                              name="Requirements"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="Note">Ghi chú</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..." id="Note"
                              name="Note"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>

