@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Lấy lại mật khẩu?";
}


<div class="boxforgotpass">
    <h3 class="mb-3">@ViewData["Title"]</h3>

    <form method="post">
        <div class="row px-3 mb-4">
            <div class="line"></div> 
            <div class="line"></div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="form-login__row">
            <span><img style="z-index: 10;" src="../../assets/images/user-login.svg" alt=""></span>
            <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="Nhập địa chỉ email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>

        <div class="form-login__row pass-code mb-0">
            <button type="submit" class="btn">Lấy lại mật khẩu</button>
        </div>
        <div class="form-login__row pass-code register-btn pt-2 mb-0">
            <a href="/Identity/Account/Login" class="text-info">Quay lại</a>
        </div>
        <div class="row mb-4 px-3"> <small class="font-weight-bold">Vui lòng nhập địa chỉ email đã đăng ký, chúng tôi sẽ gửi lại thông tin mật khẩu cho bạn.</small> </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
