@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
            <div class="boxforgotpass">
                <h3 class="mb-3">Xác nhận đăng ký thành công</h3>

                <form method="post">
                    <div class="row px-3 mb-4">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>

                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Vui lòng kiểm tra Email để xác nhận tài khoản mới.</small> </div>

                    <div class="form-login__row pass-code register-btn pt-2 mb-0">
                        <small class="font-weight-bold"><a class="text-info" href="/Identity/Account/Login">Đăng nhập</a></small>
                    </div>
                </form>
            </div>
</p>
    }
}

