<div class="card card-info card-outline">
    <div class="card-header">
        <h3 class="card-title"><b><a>Chọn thiết bị/dây chuyền</a> (Chọn thiết bị/dây chuyền được bảo dưỡng)</b></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <p>Đơn vị:<span id="spanEditDonvi"></span></p>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group" id="divAddThietBi" style="display:none;">
                    <label for="selectAddDevice">Thiết bị</label>:
                    <select placeholder="Chọn thiết bị" id="selectAddDevice" name="selectAddDevice"
                        class="form-control-sm select2 select2-info" data-dropdown-css-class="select2-info"
                        style="width: 90%;" onchange="seAddDeviceId = parseInt(this.value);">
                    </select>
                </div>
                <div class="form-group" id="divLableThietBi" style="display:none;">                    
                    <p>Thiết bị:<span id="spanEditThietBi"></span></p>
                    <p><span id="spanEditYear">2022</span></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer" id="divFooterThietbi" style="display:block;">
        <a class="btn btn-primary btn-sm" onclick="SaveNewPlanDevice();">Đồng ý</a>
    </div>
</div>
<!-- /.card -->
<div class="card card-info card-outline" style="display:none;" id="divAddPlanOver">
    <div class="card-header">
        <h3 class="card-title"><b><a>Nội dung sửa chữa bảo dưỡng thiết bị</a></b></h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="CurrentStatus">Hiện trạng/Yêu cầu</label>
                    <input type="text" id="CurrentStatus" class="form-control" name="CurrentStatus" autofocus>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="RepairContent">Nội dung sửa chữa</label>
                    <input type="text" id="RepairContent" class="form-control" name="RepairContent" autofocus>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="Targets">Muc tiêu đạt được</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..." id="Targets"
                        name="Targets"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="Progress">Tiến độ</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..." id="Progress"
                        name="Progress"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="selectUserChair">Người chủ trì</label>
                        <select id="selectUserChair" class="form-control-sm select2 select2-info"
                                    data-dropdown-css-class="select2-info" style="width: 90%;" multiple="multiple"
                                    data-placeholder="Chọn một hoặc nhiều người chủ trì" style="width: 100%;">
                            </select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="selectUserAct">Người thực hiện</label>
                         <select id="selectUserAct" class="form-control-sm select2 select2-info"
                                    data-dropdown-css-class="select2-info" style="width: 90%;" multiple="multiple"
                                    data-placeholder="Chọn một hoặc nhiều người chủ trì" style="width: 100%;">
                            </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="Note">Ghi chú</label>
                    <textarea class="form-control" rows="3" placeholder="Enter ..." id="Note" name="Note"></textarea>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
</div>
